* {
	box-sizing: border-box;
	font-family: Roboto,sans-serif;
	margin: 0;
}
#top_banner {
	width: 100%;
}
#top_banner img {
	width: 100%;
	cursor: pointer;
}
#upper_menu {
	width: 100%;
	padding-left: 25%;
	height: 2vw;
	background-color: #f5f5f5;
}
#list_upMenu {
	width: 100%;
	height: 100%;
	display: flex;
}
#list_upMenu li {
	font-size: 1vw;
	opacity: 0.9;
	line-height: 1.7vw;
	flex: 1 1 auto;
	list-style-type: none;
}
#list_upMenu li:hover {
	color: #f57022;
	cursor: pointer;
}
#below_menu {
	width: 100%;
	height: 7vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding-left: 2vw;
}
#logo {
	height: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 2vw;
}
#logo img {
	height: 100%;
}
#logo img:hover {
	cursor: pointer;
}
#search_bar {
	width: 55%;
	height: 50%;
}
#search_bar form {
	top: 1.9vw;
	height: 100%;
	width: 100%;
	display: flex;
	align-items: center;
}
#search_bar form input {
	height: 100%;
	width: 92%;
	background-color: #eff0f5;
	border: 0.5px solid #e6e6e6;
	border-width: thin;
	padding-left: 2vw;
	font-size: 1.2vw;
}
#search_bar form button {
	height: 100%;
	width: 8%;
	background-color: #f57022;
	border: 0;
	font-size: 1.5vw;
}
#search_bar form button:hover {
	cursor: pointer;
}

#search_bar form button i {
	 color: white;
}
#cart {
	width: 5%;
	height: 50%;
	padding-left: 1.2vw;

}
#cart .fas.fa-shopping-cart {
	font-size: 2vw;
	color: red;
	line-height: 3.4vw;
	text-align: center;

}
#cart .fas.fa-shopping-cart:hover {
	cursor: pointer;
}
#saleOff {
	height: 50%;
	background-color: yellow;
}
#saleOff img {
	height: 100%
}
#saleOff img:hover {
	cursor: pointer;
}
#carousel {
	width: 100%;
}
#carousel img {
	width: 100%;
}
#dropDown_menu {
	position: absolute;
	top: 16vw;
	left: 1.5vw;
	width: 18vw;
	height: 33.5vw;
	background-color: white;
	padding: 1vw 0.5vw 0 1vw;
}
#dropDown_menu #type_product {
	height: 100%;
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-direction: column;
	position: relative;
}
#dropDown_menu #type_product .product_name {
	flex: 0 0 8.33%;
	width: 100%;
	line-height: 2.5vw;
}
#dropDown_menu #type_product .product_name:hover {
	background-color: #eff0f5;
}
#dropDown_menu #type_product .product_name:hover .symbol .fas.fa-angle-right,  #dropDown_menu #type_product .product_name .model_product .model_name:hover .symbol_lv2 .fas.fa-angle-right {
	visibility: visible;
}
#dropDown_menu #type_product .product_name:hover .name_type, #dropDown_menu #type_product .product_name:hover .symbol .fas.fa-angle-right , #dropDown_menu #type_product .product_name .model_product .model_name:hover .model, #dropDown_menu #type_product .product_name .model_product .model_name:hover .symbol_lv2 .fas.fa-angle-right {
	cursor: pointer;
	color: #f57022;
}
#dropDown_menu #type_product .product_name:hover .model_product, #dropDown_menu #type_product .product_name .model_product .model_name:hover .branch_product {
	visibility: visible;
}

#dropDown_menu .product_name .name_type {
	height: 100%;
	width: 70%;
	text-align: center;
	font-family: Roboto-Regular;
	color: #757575;
	font-size: 1.25vw;
}
#dropDown_menu .product_name .symbol, #dropDown_menu .product_name .symbol_lv2 {
	float: right;
	height: 100%;
}
.symbol .fas.fa-angle-right, .symbol_lv2 .fas.fa-angle-right {
	-webkit-text-stroke: 0.1vw white;
	font-size: 1.4vw;
	color: #757575;
	visibility: hidden;
}
#dropDown_menu .product_name .model_product,  #dropDown_menu .product_name .model_product .model_name .branch_product {
	position: absolute;
	height: 100%;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	top: 0;
	left: 100%;
	width: 100%;
	background-color: white;
	padding: 0;
	visibility: hidden;
	box-shadow: -0.05vw 0 3px rgba(0, 0, 0, 0.2);
}
#dropDown_menu .product_name .model_product .model_name,  #dropDown_menu .product_name .model_product .model_name .branch_product .branch_name {
	flex: 0 0 8.33%;
	width: 100%;
	line-height: 2.5vw;
	padding-left: 2vw;
	background-clip: border-box;
}
#dropDown_menu .product_name .model_product .model_name:hover {
	cursor: pointer;
	background-color: #eff0f5;
}
#dropDown_menu .product_name .model_product .model_name:hover .model a {
	color: #f57022;
}
#dropDown_menu .product_name .model_product .model_name .model a {
	text-decoration: none;
	font-family: Roboto-Regular;
	color: #757575;
	font-size: 1.25vw;
}
#dropDown_menu .product_name .model_product .model_name .branch_product .branch_name {
	flex: 0 0 8.33%;
	width: 100%;
	line-height: 2.5vw;
	padding-left: 2vw;
	background-clip: border-box;
}
#dropDown_menu .product_name .model_product .model_name .branch_product .branch_name:hover {
	cursor: pointer;
	background-color: #eff0f5;
}
#dropDown_menu .product_name .model_product .model_name .branch_product .branch_name:hover .branch a {
	color: #f57022;
} 
#dropDown_menu .product_name .model_product .model_name .branch_product .branch_name .branch a {
	text-decoration: none;
	font-family: Roboto-Regular;
	color: #757575;
	font-size: 1.25vw;
}













