* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}

.table-1 {
	text-align: center;
	border-collapse: collapse;
	width: 70%;
	margin: 6vh auto 10vh auto;
}

.table-1 caption {
	caption-side: top;
	text-align: center;
	background-color: #fff5b9;
	color: red;
	font-weight: bold;
	height: 6vh;
	line-height: 6.5vh;
}

.table-1 caption span {
	color: black;
}

.table-1 td, .table-2 td, .table-3 td, .table-2 th, .table-3 th {
	border: 1px solid #dad3cb;
  	padding: 8px;
}

#serial {
	color: red;
	font-weight: bold;
}

.color {
	background-color: #f3f3f3
}

.name {
	width: 20%;
}

.number {
	font-weight: bold;
	line-height: 3.8vh;
	font-size: 1.4vw;
}

.c-2 .number {
	width: 40%;
}

.c-3 .number {
	width: 26.67%;
}

.c-4 .number {
	width: 20%;
}

.special {
	font-size: 1.7vw;
	color: red;
}

#table-below {
	width: 70%;
	margin: 0 auto auto auto;
}

.table-2, .table-3 {
	border-collapse: collapse;
	width: 48%;
	float: left;
	text-align: left;
	border: 1px solid #dad3cb;
  	padding: 8px;
  	font-weight: bold;
  	margin-bottom: 6vh
}
.table-3 {
	float: right;
	text-align: right;
}
.table-2 tr td:nth-child(1), .table-3 tr td:nth-child(2) {
	color: red;
	text-align: center;
} 
.t-center {
	text-align: center;
}
.t-color {
	color: red;
}











