* {
	box-sizing: border-box;
	margin: 0;
}
body {
	background-color: #f0f2f5;
	font-family: system-ui, -apple-system, BlinkMacSystemFont, '.SFNSText-Regular', sans-serif;
}
.layout {
	margin: 10vw 2vw 2vw 2vw;
}
.left-part {
	padding-bottom: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.fb {
	margin-left: -2rem;
}
.w-60 {
	width: 60%;
}
.left-part h2 {
	font-weight: normal;
	font-size: 28px;
}
form input {
	font-size: 18px;
}
.ip-height {
	height: 3.2rem;
}
.lv1_padding {
	padding: 2vw 4vw 2vw 4vw;
	margin-left: 1vw;
}
.lv2_padding {
	padding: 1rem;
}
.rounded-2 {
	border-radius: 0.6rem;
}
.login {
	font-size: 20px;
}
form a {
	text-align: center;
	width: 100%;
}
form a {
	cursor: pointer;
}
.pass-forgot {
	text-decoration: none;
	font-size: 0.9rem;
}
.new-acc {
	font-size: 17px;
	margin-left: 28%;
}
.text-note {
	font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
	font-size: 14px;
	flex: 1 0 100%;
	text-align: center;
}
.highlight {
	color: black;
	text-decoration: none;
}

@media (min-width: 768px) {
	.new-acc {
		margin-left: 35%;
	}
}
@media (min-width: 992px) {
	.new-acc {
		margin-left: 25%;
	}
}
@media (min-width: 1200px) {
	.new-acc {
		margin-left: 30%;
	}
}















