body {
	background-color: #f2f2f2;
}
#container {
	width: 98%;
	margin: auto;
	background-color: white;
	margin-top: 50px;
}
h1, h2 {
	color: grey;
	padding: 3vw 2vw 0 4vw;
}
p {
	padding-left: 4vw;
	margin: 0;
	width: 70%;
}
#note {
	display: flex;
	width: 40%;
	padding-left: 4vw;
}
#note div {
	flex: 1 1 auto;
	font-size: 14px;
	border: 1px solid grey;
	border-radius: 3px;
	background-color: #f2f2f2;
	color: #464646;
	font-weight: bold;
	text-align: center;
	margin-right: 5px;
}
hr {
	width: 70%;
	height: 1px;
	background-color: grey;
	margin: 0 0 0 4.5vw;
	opacity: 0.5;
}
p.inform {
	font-size: 20px;
	margin-top: 10px;
	color: #464646;
}
h2 {
	color: black;
}
img {
	width: 70%;
	padding-left: 4vw;
}


