#container {
  width: 20%;
  height: 200px;
}
#carousel {
  height: 100%;
  display: flex;
  flex: auto;
  border: 1px solid orange;
  justify-content: flex-start;
  position: relative;
}
#slide {
  display: flex;
  height: 100%;
  border: 1px solid green;
  flex: 1 0 500%;
  transition: transform 0.4s;
}
#slide section {
  display: flex;
  height: 100%;
  flex: 1 1 20%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
#pre {
  position: absolute;
  top: 45%;
  cursor: pointer;
  left: 3px;
}
#next {
  right: 3px;
  position: absolute;
  top: 45%;
  cursor: pointer;
}